<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @tema.nombre %>
</p>

<p>
  <b>Talk:</b>
  <%= @tema.talk_id %>
</p>


<%= link_to 'Edit', edit_tema_path(@tema) %> |
<%= link_to 'Back', temas_path %>
